@use '../mixins' as *;
@include font-face(Inter, 'InterTight-Regular', 400);
@include font-face(Inter, 'Inter18pt-Medium', 500);
@include font-face(Inter, 'Inter18pt-SemiBold', 600);
@include font-face(Inter, 'Inter18pt-Bold', 700);