@use '../mixins' as *;
@use '../base' as *;

.header {
  padding: 26px 0 22px;

  @include mobile {
    padding: 22px 0 18px;
  }

  &__logo {
    position: relative;
    z-index: var(--z-index-4);

    & svg {
    @include mobile {
      width: 130px;
    }

      & path {
        &:not(:last-child) {
          fill: var(--logo-color-text);
        }
      }

      & circle {
        fill: var(--logo-color-circle);
      }
    }
  }

  &__container {
    @include flex-all-between;
  }

  &__right {
    @include flex-align-center;
    gap: 111px;

    @include tablet {
      gap: 60px;
    }

    @include small-tablet {
      position: fixed;
      top: 0;
      left: -100vw;
      z-index: var(--z-index-3);
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 80dvw;
      height: 100dvh;
      background-color: var(--neutral-color-10);
      transition: left var(--transition);
    
      &--active {
        left: 0;
      }
    }
  }

  &__switcher {
    @include flex-column;
    position: relative;
    border-radius: 13px;
    width: 63px;
    height: 27px;
    background-color: var(--neutral-color-130);
    transform: translateY(10px);
    transition: background-color var(--transition);

    &::before {
      content: '';
      position: absolute;
      top: 2px;
      left: 3px;
      display: inline-block;
      border-radius: 50%;
      width: 23px;
      height: 23px;
      background-color: var(--neutral-color-120);
      transition:
        left var(--transition),
        background-color var(--transition);
    }

    &-text {
      position: absolute;
      top: -22px;
      left: 50%;
      margin-bottom: 2px;
      font-weight: 600;
      line-height: 150%;
      color: var(--neutral-color-140);
      transform: translateX(-50%);
      user-select: none;
    }

    &-checkbox {
      appearance: none;
    }

    &:has(&-checkbox:checked) {
      background-color: var(--neutral-color-60);

      &::before {
        left: 38px;
        background-color: var(--focus-iris-color);
      }
    }
  }
}

.nav {
  &__list {
    @include flex-align-center;
    gap: 32px;

    @include small-tablet {
      z-index: var(--z-index-3);
      gap: 20px;
      flex-direction: column;
    }

    @include mobile {
      gap: 10px;
    }
  }

  &__link {
    position: relative;
    font-weight: 500;
    line-height: 163%;
    color: var(--neutral-color-100);

    @include small-tablet {
      line-height: 300%;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -3px;
      left: 0;
      height: 1px;
      background-color: var(--neutral-color-100);
      opacity: 0;
      visibility: hidden;
      transition:
        opacity var(--transition),
        visibility var(--transition);
    }

    &:hover {
      &::after {
        opacity: 1;
        visibility: visible;
      }
    }
  }
}

.overlay {
  position: fixed;
  inset: 0;
  z-index: var(--z-index-2);
  background-color: #000000b3;
  opacity: 0;
  visibility: hidden;
  transition: opacity var(--transition), visibility var(--transition);

  &--active {
    opacity: 1;
    visibility: visible;
  }
}

.burger {
  @include burger;
}
